$color-principal: #215770;
$color-secundario: #f3c221;
$color-oscuro: #0f2c3a;
$color-claro: #e0f2fa;


$theme-colors: (
  "primary": $color-principal,
  "secondary": $color-secundario,
  "dark": $color-oscuro,
  "light": $color-claro
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";


h1, h2, h3, h4, h5 {
  color: $color-principal;
}

.nav-link:hover {
    color: $color-secundario;
}
.active:hover {
    color: $color-secundario !important;
}
.margen-nav {
    height: 70px;
  }

.img-hero {
    background: linear-gradient(rgba(15, 44, 58, 0.75), rgba(15, 44, 58, 0.95)), 
    url(../images/fondo.tienda.webp);
    background-size: cover;
    background-position: center;
    background-color: $color-oscuro;

  }


.pattern {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: $color-claro;
    opacity: 0.2;
    background-size: 80px 80px;
    background-image: repeating-linear-gradient(45deg, $color-claro 0, $color-claro 20px, #fff 0, #fff 50%);
}

.card {
    border: none;
    // box-shadow: 0 18px 32px rgba(0, 0, 0, 0.06);
    border-radius: 20px 20px 0 0; 
  }

.card-img-top {
    border-radius: 20px 20px 0 0; 
}
.card-body {
    border-left: 2px solid $color-claro;
    border-right: 2px solid $color-claro;

  }
.card-footer {
    border: 2px solid $color-claro;
    border-radius: 0;
}
  
.btn-primary:hover {
    background-color: $color-secundario;
    border-color: $color-secundario;
    color: $color-oscuro;
  }

.btn-secondary:hover {
    background-color: $color-claro;
    border-color: $color-claro;
  }

  .fa-plus-circle:hover {
    color: $color-principal !important;
  }

  .fa-minus-circle:hover {
    color: $color-principal !important;
  }
  
  .bi-x-circle:hover {
    color: #dc3545 !important;
  }


//   Checkout

@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";


.bg-gradient {
    // background: #215770;
    background: linear-gradient(30deg, #215770, #0f2c3a) !important;
    border-radius: 20px;
}

.icon-background {
    min-height: 150px;
    position: relative;
    overflow: hidden;
  }
.icon-background::before {
    content: "\F636"; 
    font-family: "bootstrap-icons";
    font-size: 170px; 
    color: rgba(33, 87, 112, 0.8);    
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    transform: translate(-20%, -55%);
}
.icono2 .icon-background::before {
    content: "\F12E"; 
    font-size: 130px; 
    transform: translate(-20%, -53%);

}
.icono3 .icon-background::before {
    content: "\F407"; 
    font-size: 150px; 
}
.icono4 .icon-background::before {
    content: "\F597"; 
    font-size: 150px; 
}

form {
    border: 2px solid $color-claro !important;
    border-radius: 0;
}